$VeryDarkBlue: hsl(235, 21%, 11%);
$VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$LightGrayishBlue: hsl(234, 39%, 85%);
$LightGrayishBlueHover: hsl(236, 33%, 92%);
$DarkGrayishBlue: hsl(234, 11%, 52%);
$VeryDarkGrayishBlue: hsl(233, 14%, 35%);
$VeryDarkGrayishBlue: hsl(237, 14%, 26%);

//@mixin darken() {
//  --bgColor: #{$bgColor_dark};
//  --textColor: #{$textColor_dark};
//  --borderColor: #{$borderColor_dark};
//}

.main.dark {
  background: url("../../assets/images/bg-desktop-light.jpg") black no-repeat top;
  background-size: 100% 40%;
  color: white;
}
