$VeryLightGray: hsl(0, 0%, 98%);
$VeryLightGrayishBlue: hsl(236, 33%, 92%);
$LightGrayishBlue: hsl(233, 11%, 84%);
$DarkGrayishBlue: hsl(236, 9%, 61%);
$VeryDarkGrayishBlue: hsl(235, 19%, 35%);

//@mixin lighten() {
//  --bgColor: #{$bgColor_light};
//  --textColor: #{$textColor_light};
//  --borderColor: #{$borderColor_light};
//}

.main.light {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  background: url("../../assets/images/bg-desktop-light.jpg") white no-repeat top;
  background-size: 100% 40%;
}

